<!DOCTYPE html>
<html>
<head>
	<title>Pokemon Data - ITKMITL Multimedia Programming 2563</title>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="lab.css">
</head>
<body>
	<center><h1>Pokemon Data</h1></center>
	<div id="app">
		<center>
			<div>
				<button class="Previous" @click="main_req_json(0)">Previous</button>
				<button class="Next" @click="main_req_json(1)">Next</button>
			</div>
		</center>
		<div>
			<center>
				<table v-for="num in 20">
					<tr>
						<th colspan = "2">{{data.results[num-1].name}}</th>
					</tr>
					<tr>
						<td colspan = "2"><center>
							<img :src="`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${num+(stage*20)}.png`" width="310" height="290"> </center>
						</td>
						<tr>
							<td  colspan = "2">
								<button @click="req_json(num-1)" class="show"><b>Show Base Status</b></button>
							</td>
						</tr>
						<tr>
							<td v-if="check === num-1"><b>HP</b>:{{data2.stats[0].base_stat}} </td>
							<td v-if="check === num-1"><b>Attack</b>:{{data2.stats[1].base_stat}}</td>
						</tr>
						<tr>
							<td v-if="check === num-1"><b>Defense</b>:{{data2.stats[2].base_stat}} </td>
							<td v-if="check === num-1"><b>Speed</b>:{{data2.stats[5].base_stat}}</td>
						</tr>
						<tr>
							<td v-if="check === num-1"><b>Special-Attack</b>:{{data2.stats[3].base_stat}}</td>
							<td v-if="check === num-1"><b>Special-Defense</b>:{{data2.stats[4].base_stat}} </td>
						</tr>
					</tr>
					
				</table>
			</center>
		</div>
	</div>

	<script>

		fetch('https://pokeapi.co/api/v2/pokemon/')
			.then(response => response.json())
			.then(json => {
				app.data = json
				console.log('start')
			})
		
		let app = new Vue({
			el: '#app',
			data: {
				pokemon:'',
				data:{},
				data2:{},
				stage:0,
				check:false
			}, 
			methods:{
				main_req_json:function(status){
					app.check = -1
					console.log(app.stage)
					if (status) {
						app.pokemon = app.data.next
						console.log('next')
						app.stage += 1
					}else if(app.stage){
						app.pokemon = app.data.previous
						console.log('previous')
						app.stage -= 1
					}
					fetch(app.pokemon)
					.then(response => response.json())
					.then(json => {
						app.data = json
					})
				},
				req_json:function(num){
					this.data2 = {}
					this.link = this.data.results[num].url
					fetch(this.link)
					.then(response => response.json())
					.then(json => {
						this.data2 = json
						this.check = num
					})
				}
			}
		})

	</script>
</body>
</html>

<!-- <!DOCTYPE html>
<html>
<head>
	<title>The Members - ITKMITL Multimedia Programming 2563</title>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="lab.css">
</head>
<body>
	<div id="app">
		<h3>name {{person.name}}</h3>
		<h3>username {{person.username}}</h3>
		<h3>email {{person.email}}</h3>
		<h3>company. {{person.company.name}}</h3>
		<h2 v-for="u in users" :data-id="u.id" @click="test_view(u)">
			{{u.name}}
		</h2>
	</div>

	<script>
		fetch('https://jsonplaceholder.typicode.com/users')
		.then(response => response.json())
		.then(json => {
			console.log(json)
			app.users = json
			app.person = app.users[0]
		})


		let app = new Vue({
			el: '#app',
			data: {
				users :[],
				person:{
					id:0,
					name:'..loading',
					username:'..loading',
					email:'..loading',
					website:'..loading',
					company:{
						name : '..loading',
					}
				}
			}, 
			methods:{
				test_view: function(users){
					this.person = users
				}
			}
		})

		function test_view(h2){
			let id = h2.dataset.id
			app.person = app.users[id-1]
			console.log(id)
		}

	</script>
</body>
</html> -->