<!DOCTYPE html>
<html>
<head>
	<title>Lab - Multimedia Programming 2563 ITKMITL</title>
	<link rel=stylesheet href="../src/reset.css">
	<link rel=stylesheet href="lab.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body class="paper">
	<div id="app">
		<input type="number" v-model="num">
		<div class="space"></div>
		<h2> สูตรคูณแม่ {{num}} </h2>
		<h3 v-for="i in 12"> {{num}} x {{i}} = {{multiply(i)}} </h3>
	</div>

	<script>
		let app = new Vue({
			el: '#app',
			data: {
				num: 2
			}, 
			methods:{
				multiply: function(row){
					return this.num * row
				}
			}
			// , 
			// computed:{
			// 	ans2:function () {
			// 		return this.num * 2
			// 	}, 
			// 	ans3:function () {
			// 		return this.num * 3
			// 	}, 
			// 	ans4:function () {
			// 		return this.num * 4
			// 	}, 
			// 	ans5:function () {
			// 		return this.num * 5
			// 	}, 
			// 	ans6:function () {
			// 		return this.num * 6
			// 	}, 
			// 	ans7:function () {
			// 		return this.num * 7
			// 	}, 
			// 	ans8:function () {
			// 		return this.num * 8
			// 	}, 
			// 	ans9:function () {
			// 		return this.num * 9
			// 	}, 
			// 	ans10:function () {
			// 		return this.num * 10
			// 	}, 
			// 	ans11:function () {
			// 		return this.num * 11
			// 	}, 
			// 	ans12:function () {
			// 		return this.num * 12
			// 	}, 
			// }
		})
	</script>
</body>
</html>