<!DOCTYPE html>
<html>
<head>
	<title>Lab - Multimedia Programming 2563 ITKMITL</title>
	<link rel=stylesheet href="../src/reset.css">
	<link rel=stylesheet href="lab.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body class="paper">
	<div id="app">
		<input type="number" v-model="num">
		<input type="number" v-model="row">
		<div class="space"></div>
		<h2> สูตรคูณแม่ {{num}} </h2>
		<h2> สูตรคูณแม่ก่อนหน้า {{before_num}} </h2>
		<h3 v-for="i in r"> {{num}} x {{i}} = {{multiply(i)}} </h3>
	</div>

	<script>
		let app = new Vue({
			el: '#app',
			data: {//กำหนดค่า
				num: 2,
				before_num: 1,
				row: 12
			}, 
			methods:{//รับค่าได้
				multiply: function(row){
					return this.num * row
				}
			},
			watch:{//ดูค่า...ว่ามีการเปลี่ยนแปลงไหม
				num: function(neww, old){
					// console.log(neww)
					// console.log(old)
					this.before_num = old
				}
			}
			, 
			computed:{//ประมวลผลได้
				r:function () {
					return parseInt(this.row)
				}, 
				ans2:function () {
					return this.num * 2
				}, 
				ans3:function () {
					return this.num * 3
				}, 
				ans4:function () {
					return this.num * 4
				}, 
				ans5:function () {
					return this.num * 5
				}, 
				ans6:function () {
					return this.num * 6
				}, 
				ans7:function () {
					return this.num * 7
				}, 
				ans8:function () {
					return this.num * 8
				}, 
				ans9:function () {
					return this.num * 9
				}, 
				ans10:function () {
					return this.num * 10
				}, 
				ans11:function () {
					return this.num * 11
				}, 
				ans12:function () {
					return this.num * 12
				}, 
			}
		})
	</script>
</body>
</html>